.git
.env*
!.env.example
.venv
.pytest_cache
.ruff_cache
.mypy_cache
.basedpyright
__pycache__
*.py[cod]
build
target
node_modules
container-export
.cache
.coverage
htmlcov
.DS_Store
.idea
.vscode/*.log
